body {
	background-color:#ffffff;
	color:#000000;
	font-family:Verdana, sans-serif;
	font-size:9pt;
	margin:0;
}

td {
	vertical-align:top;
}

p, .normal {
	color:#000000;
	margin:0;
}

h1, .h1 {
	color:#009900;
	font-family:Verdana, cursive;
	font-size:15pt;
	font-style:italic;
	font-weight:bold;
	margin:12pt 0 4pt;
}

h2, .h2 {
	color:#009900;
	font-family:Verdana, cursive;
	font-size:13pt;
	font-style:italic;
	font-weight:bold;
	margin:9pt 0 3pt;
}

h3, .h3 {
	color:#000000;
	font-size:12pt;
	font-weight:bold;
	margin:9pt 0 3pt;
}

h4, .h4 {
	color:#000000;
	font-size:11pt;
	font-weight:bold;
	margin:6pt 0 2pt;
}

h5, .h5 {
	color:#000000;
	font-size:10pt;
	font-weight:bold;
	margin:6pt 0 2pt;
}

h6, .h6 {
	color:#000000;
	font-size:9pt;
	font-weight:bold;
	margin:3pt 0 0;
}

li {
	color:#000000;
	margin:0;
}

a {
	color:#333366;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a img {
	border-style:none;
}

.sok {
	color:#000000;
	font-family:Verdana, serif;
	font-size:8px;
	margin:0;
	padding:0;
}

.sokformular {
	background-image:url(../res/Standard/filler_ligth_background.png);
	border-color:#000000;
	border-style:none;
	font-family:Verdana, sans-serif;
	font-size:8pt;
	margin-top:10px;
	margin-left:10px;
	padding:0 4px 0 0;
	text-decoration:none;
}

.sokruta {
	color:#6b889a;
	font-family:Arial, Verdana, sans-serif;
	font-size:8px;
	margin:8px 8px 0;
	padding:0 5px;
	vertical-align:middle;
}

.besokare {
	font-family:Verdana, sans-serif;
	font-size:8pt;
}

.underfot {
	background-color:#cccccc;
	color:#339900;
	font-family:Verdana, sans-serif;
	font-size:7pt;
	padding-top:3px;
}

.underrubrik {
	color:#ffffff;
	font-family:Verdana, sans-serif;
	font-size:8px;
	margin-top:2px;
	margin-bottom:2px;
}
